.zmnv-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zmnv-header__logo {
    font-family: 'Rubik Mono One', Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.zmnv-header__description {
    font-size: 12px;
    line-height: 16px;
    color: $color-text-light;
}
