.zmnv-content__link {
    color: #000;

    &:hover {
        color: $color-link;
    }
}

.zmnv-content__link > img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 320px;
    box-shadow: 0 0 0 0.5px rgba(0,0,0,0.12);

    &:hover {
        box-shadow: 0 0 0 2px $color-link;
    }
}