$layout-width-max: 1200px;
$layout-width-middle: 960px;
$layout-width-min: 640px;

$break-mobile-small: 320px;
$break-mobile-medium: 375px;
$break-mobile-large: 425px;

$break-tablet: 768px;
$break-laptop: 1024px;
$break-desktop: 1366px;
$break-desktop-medium: 1440px;
$break-desktop-large: 1600px;

$break-boot-sm: 540px;
$break-boot-sm-max: 576px;
$break-boot-md: 720px;
$break-boot-md-max: 768px;
$break-boot-lg: 960px;
$break-boot-lg-max: 992px;
$break-boot-xl: 1140px;
$break-boot-xl-max: 1200px;
$break-boot-xxl: 1600px;
$break-boot-xxl-max: 1600px;
