@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&subset=cyrillic');

body {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}


a {
  color: rgb(9, 108, 255);
  text-decoration: none;

  &:hover {
    color: rgb(236, 82, 110);
  }
  &:active {
    color: rgba(0, 0, 0, .54);
  }
}

h1 { 
  font-size: 48px;
  padding-bottom: 24px;
  line-height: 1.2;
  letter-spacing: -0.75px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h2 { 
  font-size: 32px;
  padding-bottom: 16px;
  line-height: 1.1;
  letter-spacing: -0.5px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

// Basic rich-text editor styles:
h3 {
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

strong, b { font-weight: 500; }
em { font-style: italic; }

blockquote {
  border-left: 5px solid #ec4d6fe6;
  color: #ec4d6f;
  padding-left: 16px;
  font-size: 24px;
  line-height: 1.2;
}

.blockquote-default {
  font-family: 'Rubik Mono One', Arial, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  padding: 16px 20px;
  color: #fff;
  background: $color-blue-just;
  -webkit-font-smoothing: antialiased;
}

.typography-size-accent {
  font-size: 20px;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}
