.container-width {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;

    @media (min-width: $break-tablet) {
        padding: 0 24px;
    }

    @media (min-width: $break-laptop) {
        padding: 0 32px;
    }

    @media (min-width: $break-desktop) {
        padding: 0;
    }
}

.container-width-max {
    @extend .container-width;
    max-width: $layout-width-max;
}

.container-width-middle {
    @extend .container-width;
    max-width: $layout-width-middle;
}

.container-width-min {
    @extend .container-width;
    max-width: $layout-width-min;
}

.flex-left-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
